<style>
  footer {
    padding: 1rem;
    text-align: center;
    font-size: 15px;
    color: white;
    background: var(--gt-gold);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }

  .info {
    color: white;
    margin: 0;
    font-size: 11px;
    text-align: center;
  }

  .info p {
    line-height: 1;
  }

  .info a {
    color: inherit;
    text-decoration: none;
    font-weight: 400;
  }

  .info a:hover {
    text-decoration: underline;
  }
</style>

<footer class="info">
  <p>
    <a
      href="https://github.gatech.edu/cs6400-2024-01-spring/cs6400-2024-01-Team053/tree/main/Phase_3"
      ><strong>Phase 3 App</strong></a
    >
  </p>
  <p>
    Created by
    <a href="https://gatech.instructure.com/groups/386954"
      ><strong>Team 053</strong></a
    >
  </p>
  <p>Part of CS6400 Spring 2024</p>
</footer>
